*.cs text eol=lf
*.csproj text eol=lf
*.json text eol=lf
*.props text eol=lf
*.fs text eol=lf
*.fsproj text eol=lf
*.fsx text eol=lf
/docs/*.md text eol=lf
/docs/next-stage/inventory/generated/*.md text eol=lf
/docs/next-stage/inventory/generated/types-languageext-4.4.9.txt text eol=lf
